

    <div class="signupDialog" title="Join MT Database">
      <p>Test Dialog</p>
    </div>
    <footer>
      <p class="footerInfo">Created by Lillian Chernin</p>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>
